.comment-form-container .form-group textarea{
    border: 0;
    background-color: #14181b;
    color: white !important;
    font-weight: 600;
    border: 1px solid transparent;
}
.comment-form-container .form-group textarea:focus{
    box-shadow: none;
    background-color:  #14181b;
    border: 1px solid var(--primaryColor);
}
.btn-comment{
    margin-top: 2%;
}
.comments-data-container p{
    font-size: 1rem;
}